<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verified</title>
    <style>
        .heading{
            text-align: center;
            text-decoration: underline;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
        }
        .div1{
            width: 80vh;
            height: 50vh;
            margin: auto;
            margin-top: 108px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1 class="heading">Your Email has been verified</h1>

    <div class="div1">
        <h1>Checkout Your Web-Page </h1>
    </div>
</body>
</html>